
{% extends 'core/base.html' %}

{% load static %}
{% block title %} Reset Password {% endblock %}

{% block content %}

<div class="text-center mt-3 mb-5">
    <h1>PacketKnows: Reset Password</h1>
</div>
<div class="row">
    <div class="col-4 offset-4">
        <form id="passwordResetForm" class="mt-3" action="" hx-post="{% url 'user:sendResetPassword' %}" hx-swap="none">
            <input name="email" class="form-control border-2 border-bottom fs-5" type="text" placeholder="Email">
            <input name="newPassword" class="form-control border-2 border-bottom fs-5 mt-4" type="password" placeholder="New Password">
            <button type="submit" class="btn btn-danger bg-dark-red w-100 mt-5">Confirm Reset Password</button>
        </form>
    </div>
</div>

<script>
    passwordResetForm = document.querySelector("#passwordResetForm")

    document.body.addEventListener('htmx:afterRequest', function (event) {
        if (event.detail.elt === passwordResetForm) {
            var response = JSON.parse(event.detail.xhr.response);

            alert(response.message)
            window.location.href = '{% url "core:landingPage" %}';
        }
    });
</script>



{% endblock %}