*:active,
*:focus{
    box-shadow: none !important;
}
.btn-custom-success {
    background-color: #32DE84; /* Replace with your desired color */
    border-color: #32DE84; /* Replace with your desired color for the border */
}
.btn-custom-success:hover{
    border-color: #157347;
    background-color: #157347;
    color: white
}
.btn-custom-success:active{
    border-color: #12623c;
    background-color: #12623c;
}
.text-dark-red {
    color:#761E1E;
}
.text-red{
    color: #cb3737;
}
.bg-red{
    background-color: #cb3737;
}
.bg-dark-red{
    background-color: #761E1E;
}
.bg-pink{
    background-color: #FFD8D8;
}
.bg-white{
    background-color: #FAFAFA;
}
.bg-gray{
    background-color: rgba(18, 18, 18, 0.06);
}



.logo{
    width: 2rem;
}

main {
    /* overflow-x: hidden !important; */
}

