{% load static%}

<div class="rating rating-1 d-inline-block">
    <div class="rating-label text-white">
        <p class="fs-5 p-0 m-0">{{classRank.1.name}}</p>
        <p class=" p-0 m-0">2nd - {{classRank.1.finalGrade}}%</p>
    </div>
    <img src="{% static 'res/icons/Dashboard/Dashboard-circle3.png' %}" alt="" class="img-fluid">
</div>
<div class="rating rating-1 d-inline-block">
    <div class="rating-label text-white">
        <p class="fs-5 p-0 m-0">{{classRank.0.name}}</p>
        <p class=" p-0 m-0">1st - {{classRank.0.finalGrade}}</p>
    </div>
    <img src="{% static 'res/icons/Dashboard/Dashboard-circle.png' %}" alt="" class="img-fluid">
</div>
<div class="rating rating-1 d-inline-block">
    <div class="rating-label text-white">
        <p class="fs-5 p-0 m-0">{{classRank.2.name}}</p>
        <p class=" p-0 m-0">3rd - {{classRank.2.finalGrade}}%</p>
    </div>
    <img src="{% static 'res/icons/Dashboard/Dashboard-circle2.png' %}" alt="" class="img-fluid">
</div>