{% load static %}

<div class="container mx-3">
    <div class="row ms-2 mt-2 mb-4 ">
        <h3 class="">Dashboard</h3>
    </div>
    <div class="row justify-content-between">
        <div class="col-md-5">
            <div class="d-flex justify-content-between align-items-center">
                <p class="d-inline m-0">Profile / Identity</p>
                <a href="#" class="btn btn-light">Account Settings</a>
            </div>
            <div class="text-muted fw-bold mt-2">
               Instructor
            </div>
            <div class="container d-flex justify-content-between align-items-center mt-4">
                <p><span class="bg-pink p-1 rounded-circle me-2"><i class="fa-solid fa-user" style="color: #761E1E;"></i></span>Name:</p>
                <p class="">{{user.first_name}} {{user.last_name}}</p>
            </div>
            <hr>
            <div class="container d-flex justify-content-between align-items-center mt-4">
                <p><span class="bg-pink p-1 rounded-circle me-2"><i class="fa-solid fa-key" style="color: #761E1E;"></i></span>Instructor ID:</p>
                <p class="">{{user.school_id}}</p>
            </div>
            <hr>
            <div class="container d-flex justify-content-between align-items-center mt-4">
                <p><span class="bg-pink p-1 rounded-circle me-2"><i class="fa-solid fa-envelope" style="color: #761E1E;"></i></span>Email:</p>
                <p class="">{{user.email}}</p>
            </div>
            <hr>
            <div class="container d-flex justify-content-between align-items-center mt-4">
                <p><span class="bg-pink p-1 rounded-circle me-2"><i class="fa-solid fa-square-check" style="color: #761E1E;"></i></span>Student Count:</p>
                <p class="">{{allStudentCount}}</p>
            </div>
        </div>
        <div class="col-md-6 me-4">
            <p class="fs-5 fw-bold m-0 mb-4">Recent Classes</p>
            {% for classroom in classrooms %}
                {% if forloop.counter <= 5 %}
                    <a href="{% url 'core:classes' %}" class="text-dark unstyled text-decoration-none">
                        <div class="d-flex justify-content-between mt-4">
                            <p><img src="{{classroom.icon.url}}" alt="" class="logo me-3 rounded-circle">{{classroom.name}}</p>
                            <p class="text-muted me-3"><i class="fa-solid fa-user me-2"></i><span class="fw-bold">{{ classroom.students.count }}</span></p>
                        </div>
                        <hr class="mb-4 mt-0">
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="row me-4 mt-5">
        <div class="col-md-4">
            <p class="fs-5 fw-bold mb-0">Top Performing Students</p>
            <p class="text-muted mt-3">Based on all of the exams taken in <span class="fw-bold">Testing Mode</span></p>

            <select name="classroomID" class="form-select mb-3" id="classSelectDashboard" aria-label="Select Now" hx-target="#topPerformingStudents" hx-get="{% url 'classroom:topStudents' %}" hx-trigger="change">
                {% for classroom in classrooms %}
                <option value="{{classroom.id}}" selected>{{classroom.name}}</option>
                {% endfor %}
                <option value="" selected>Select a class</option>
            </select>

            <div id="topPerformingStudents">
                <div class="rating rating-1 d-inline-block">
                    <div class="rating-label text-white">
                        <p class="fs-4 p-0 m-0">N/A</p>
                        <p class=" p-0 m-0">2nd</p>
                    </div>
                    <img src="{% static 'res/icons/Dashboard/Dashboard-circle3.png' %}" alt="" class="img-fluid">
                </div>
                <div class="rating rating-1 d-inline-block">
                    <div class="rating-label text-white">
                        <p class="fs-4 p-0 m-0">N/A</p>
                        <p class=" p-0 m-0">1st</p>
                    </div>
                    <img src="{% static 'res/icons/Dashboard/Dashboard-circle.png' %}" alt="" class="img-fluid">
                </div>
                <div class="rating rating-1 d-inline-block">
                    <div class="rating-label text-white">
                        <p class="fs-4 p-0 m-0">N/A</p>
                        <p class=" p-0 m-0">3rd</p>
                    </div>
                    <img src="{% static 'res/icons/Dashboard/Dashboard-circle2.png' %}" alt="" class="img-fluid">
                </div>
            </div>
            
        </div>
        <div class="col-md-8">
            <div class="d-flex justify-content-between align-items-center mb-5">
                <p class="fs-5 fw-bold ">Test Reactivation</p>
                <a href="{% url 'core:help'%}" class="btn btn-light me-5">More Details</a>
            </div>
            <div class="row text-center mb-3">
                <div class="col-md-3 fw-bold">
                    Student Name
                </div>
                <div class="col-md-3 fw-bold">
                    Class Name
                </div>
                <div class="col-md-3 fw-bold">
                    Activity
                </div>
                <div class="col-md-3 fw-bold">
                    Options
                </div>
            </div>
            {% for testReactivation in testReactivations%}
            <div class="row text-center mb-2">
                <div class="col-md-3">
                    {{testReactivation.student.first_name}} {{testReactivation.student.last_name}}
                </div>
                <div class="col-md-3">
                    {{testReactivation.classroom.name}}
                </div>
                <div class="col-md-3">
                    {{testReactivation.activity.base_activity.number}}
                </div>
                <div class="col-md-3">
                    <div>
                        <button class="btn btn-danger" hx-post="{% url 'help:reactivateExam' testReactivationID=testReactivation.id%}" hx-swap="none">Reactivate</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>

    document.body.addEventListener('htmx:afterRequest', function (event) {
            var response = JSON.parse(event.detail.xhr.response);

            alert(response.message)
            window.location.reload();
    });
</script>